* {
    --color--dark:#383931;
    --color--caramel:#a0552b;
    --color--lightgrey:#646756;
    --color--brown:#907e68;
}

body {
    font-family: 'Albert Sans', sans-serif;
    margin: 0;
    color: var(--color--dark);
    background-color: #fff;
    overflow-x: hidden;
}

/* MAIN-ARTICLE */

.main-article {
    text-align: center;
    margin-bottom: 6em;
}

.main-article-img {
    width: 90vw;
}

.main-article-paragraph {
    font-size: 25px;
    color: var(--color--caramel);
}

.main-article-headline {
    font-size: 2vw;
    font-weight: 300;
    color: var(--color--dark);
}

.main-article-datetime {
    font-size: 1rem;
    color: var(--color--lightgrey);
    padding-bottom: 1em;
}

.main-article-btn {
    text-transform: uppercase;
    color: #fff;
    padding: 1em;
    border: 0;
    background-color: var(--color--caramel);
}

.main-article-btn:hover {
    color: var(--color--caramel);
    padding: 1em;
    border: 1px solid var(--color--caramel);
    background-color: #fff;
}

/* RECOMMENDED */

.recommended {
    margin: 8em 15vw;
}

.recommended-wrapper {
    margin: 2em auto;
    border: 1px solid var(--color--lightgrey);
    padding: 1em;
}

.recommended-headline {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 800;
}

.recommended-paragraph {
    text-align: center;
    color: var(--color--dark);
}

.recommended-grid-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recommended-card {
    width: 300px;
    font-size:20px;
    text-align: center;
}

.recommended-card-image {
    width: 300px;
}

.recommended-card-paragraph { 
    font-size: 18px;
    color: var(--color--brown);
}

.recommended-card-title {
    font-size: 20px;
    font-weight: 300;
}

.recommended-card-title:hover {
    text-decoration: underline;
}

.recommended-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
}

.recommended-card-datetime {
    font-size: 14px;
    color: var(--color--lightgrey);
}

.recommended-card-heart {
    cursor: pointer;
}

/* LATEST ARTICLES - GRID */

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    place-items: center;
    margin: 2em 10em;
}

.grid-header {
    width: 280px;
    padding: 10px;
    text-align: left;
}

.grid-header-title {
    font-size: 2em;
    font-weight: 300;
}

.grid-header-paragraph {
    padding: 1em;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: var(--color--lightgrey);
}

.grid-header-logo {
    font-size: 2em;
    text-align: right;
    font-weight: 300;
}

.grid-card { 
    width: 280px;
    padding: 10px;
    text-align: center;
    border: 1px solid var(--color--dark);
}

.grid-card-image {
    width: 280px;
}

.grid-card-paragraph {
    color: var(--color--brown);
    font-size: 20px;
}

.grid-card-headline {
    font-size: 25px;
}

.grid-card-headline:hover {
    text-decoration: underline;
}

.grid-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
}

.grid-card-datetime {
    font-size: 14px;
    color: var(--color--lightgrey);
}

.grid-card-heart {
    cursor: pointer;
}

.grid-all-posts-link {
    font-size: 2em;
}

.grid-all-posts-link:hover {
    text-decoration: underline;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
    
    .recommended, 
    .grid {
        display: flex;
        flex-direction: column;
    }
}